.header {
    color: rgb(43, 0, 254);
}

.subheader {
    color: blue;
    font-style: italic;
}

.navbar {
    background: rgb(0, 86, 130);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
}

.nav-option {
    color: rgb(232, 230, 227);
    margin-right: 10;
    margin-left: 10;
    font-size: 20;
}

.background{
    background-color: rgb(24, 26, 27);
}

.name{
    color: rgb(219, 222, 222);
    font-size: 30;
}